html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.login_container {
    display: flex;
    height: 100%;
    width: 100%;
    top: 50%;
    width: auto;
    justify-content: center;
    align-content: center;
    top: 50%;
    color: white;
    background: rgb(10,10,10);
    background: linear-gradient(175deg, rgba(10,10,10,1) 0%, rgba(65,84,89,1) 52%, rgba(90,93,96,1) 97%);
    padding: 150px;
    
}

.login {
    padding: 40px;
    color: white;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.input {
    border-radius: 10px;
}