{% extends 'base.html' %}

{% load static %}
{% block meta %}
<title>Account Registration</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock meta %}

{% block content %}  

<div class = "regis_container">
    <div class="regis">
        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Register"/></td>  
                </tr>  
            </table>  
        </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </div>
    
    <h1>Registration Form</h1>  

        

</div>  

{% endblock content %}