{% extends 'base.html' %}

{% load static %}


{% block meta %}
<title>Wishlist</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock meta %}

{% block content %}

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-2">
            <nav class="navbar navbar-expand">
                <div class="container-fluid">
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'wishlist:show_wishlist' %}" style="color:white">Home</a>
                            </li>
                        
                        <button class="btn btn-outline-success me-2" type="button"><a href="{% url 'wishlist:logout' %}" style="text-decoration: none; color:white">Logout</a></button>
                </div> 
            </nav> 
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="https://cdn.discordapp.com/attachments/942044537784791090/1024899567931637830/unknown.png"alt="Bootstrap" width="40" height="40">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        </div>
    </nav>
        
    
    
    <div class="info">
        <h5>Name: </h5>
        <br>
        <p>{{name}}</p>  
    </div>
    <br>
    
        <table class="container text-center">
            <tr class="row align-items-center">
                <th class="col">Item Name</th>
                <th class="col-2">Item Price</th>
                <th class="col-6">Description</th>
            </tr>
            {% comment %} Add the data below this line {% endcomment %}
            {% for item in list_item %}
            <tr class="row align-items-center">
                <td class="col">{{item.item_name}}</th>
                <td class="col-2">{{item.item_price}}</th>
                <td class="col-6">{{item.description}}</th>
            </tr>
        {% endfor %}
        </table>
    
    <br>
    <h5 class="log_info">Last Login: {{ last_login }}</h5>  
    




{% endblock content %}